@layout("layout")

@section('title')
  Liste des projets {{ category.name }}
@endsection

@section('body')
    <h1>Projets {{ category.name }}</h1>
    <div class="row">
    @each(project in projects.rows)
        <div class="col s12 m6">
            @!component('components.project.card', { project })
        </div>
    @endeach
    </div>
@endsection